
.container{
    margin: 0 auto;
    max-width: 1400px;
    padding: 0;
    background-color: antiquewhite;
}

h1{
    background-color: bisque;
    text-align: center;
    width: 1400px;
    border: 2px solid black;

}
nav{
    background-color: aqua;
    width: 300px;
    height: 1000px;

}
.logo{
    float: left;
}


    
